<button (click)="vuelve()">Volver al listado
</button>
<h2>Formuario de Alta</h2>
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <label>
    ID:
    <input type="text" formControlName="_id" [disableControl]="disable">
  </label>
  <label>
    Name:
    <input type="text" formControlName="name">
  </label>

  <label>
    Email:
    <input type="text" formControlName="email">
  </label>
  <label>
    Skills:
    <input type="text" formControlName="skills">
  </label>
  <input type="submit" value="Enviar"/>

</form>
